body{
    text-align: left;
    color:rgba(211,254,60,255); 
    background-color:rgba(43,86,7,255);
    width: 100%;
    height: inherit;  
  
    
}
h2{
    text-align: center;
    color: rgb(0, 255, 21);
}
p{
    color: white;
    font-size: larger;
}
button{
    
    background-color: azure;
    color: rgb(8, 71, 73);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 30% 10px 1%;
}

button:hover{
    background-color: rgb(27, 66, 12);
    color: rgb(141, 233, 138);
}


ul{
    margin-top: -20px;
}
img{
    max-width: 30%;
    max-height: auto;
    border: solid 1px white;
    border-radius: 10%;
    margin-left: 35%;
    
}
