body{
    background-color: rgba(153,180,213,255);
    text-align: center;
}

h2{
    margin-top: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(236,34,38,255);
    font-size: 250%;
    text-shadow: 2px 5px 4px #303030;
    
}



img{
    max-width: 100%;
    max-height: auto;  
    
}

.triCard{
    display: inline-block;
    background-color: white;
    text-align: center;
    max-width: 40%;
    margin: 3%;
    height: auto;
    box-shadow: 0 15px 10px rgb(73, 73, 73);

}

.txtCard{
    width: 100%;
    padding: 5%;
    text-wrap: pretty;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
}



button{
    background-color: azure;
    color: rgb(0, 82, 102);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

button:hover{
    background-color:rgb(0, 39, 18);
    color: rgb(159, 252, 255);
}

#error{
    margin: 10px;
    text-wrap: pretty;
    color: red;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

#pprice{
    color:rgb(255, 221, 30);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    
}

#tpprice{
    color:rgb(255, 221, 30);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}

input{
    width: 30%;
    height: 15px;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    padding: 5px;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(24, 20, 255);
    background-color: rgb(219, 219, 219);
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.btnCalculate{
    background-color: #1d0705;
    padding: 5px;
    border: solid 2px rgb(255, 0, 0);
    color: rgb(251, 255, 42);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 3px 3px rgb(165, 165, 165);
    margin-left: 35%;
    
}

.disBox{
    border-radius: 10px;
    text-align: left;
    max-width: 75%;
    height: auto;
    padding: 3%;
    background-color: rgb(28, 41, 41);
    color: white;
    text-wrap: pretty ;
    margin: 10%;

}

@operty --angle{

    syntax: "<angle>";

    initial-value: 0deg;

    inherits: false;

}



.disbox::after, .disbox::before{

    content: '';

    position: absolute;

    width: 100%;

    height: 100%;

    background-image: conic-gradient( from var(--angle), red,rgb(0, 255, 0),blue,rgb(252, 47, 81));

    top: 50%;

    left: 50%;

    translate: -50% -50%;

    z-index: -1;

    padding: 3.5px;

    border-radius: 10px;

    animation: 1s spin linear infinite;

}



.disbox::before{

    filter: blur(0.8rem);

    opacity: 0.8;

}



@keyframes spin{

    from{

        --angle:0deg;



    }

    to{

        --angle: 360deg;

    }

}





p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px;

    
}

.t1pcs{
    margin: 5px;
    color: red;
}

#t2pcs{
    margin: 5px;
    color: red;
    margin-top: 8%;

}

h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;
}
