body{
    background-color: rgba(153,180,213,255);
    text-align: center;
}

h2{
    margin-top: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(236,34,38,255);
    font-size: 250%;
    text-shadow: 2px 2px 4px #000000;
    
}

nav{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
}

img{
    max-width: 90%;
    max-height: auto;
    border-radius: 10%;
    box-shadow: 10px 10px 10px rgb(40, 46, 48);
    
}

div{
    display: inline-block;
    max-width: 40%;
    margin: 1%;
    height: auto;
    text-align: center;
    margin-top: 5%;
}

button{
    background-color: azure;
    color: rgb(0, 82, 102);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

button:hover{
    background-color:rgb(0, 255, 115);
    color: rgb(0, 38, 255);
}

#error{
    margin: 10px;
    text-wrap: pretty;
    color: red;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

#pprice{
    color:rgb(0, 64, 138);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    text-align: center;
}

input{
    width: 50%;
    border: solid 1px black;
    border-radius: 30px;
    text-align: center;
    

    
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.btnCalculate{
    background-color: #d88b53;
    padding: 5px;
    border: solid 2px rgb(255, 255, 255);
    color: rgb(68, 22, 0);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px rgb(63, 63, 63);
    margin-left: 35%;
    
}

.disBox{
    border: solid 2px rgb(72, 255, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(100, 97, 97);
    text-align: left;
    max-width: 100%;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px;

    
}
